<div class="container">


<h1>My Tasks</h1>

<% @tasks.each do |task| %>
<ul>
  <li>
    <% if task.completed %>
    <span class="icon-done"><i class="far fa-check-square"></i></span>
    <% else %>
    <span class="icon"><i class="far fa-square"></i></span>
    <% end %>
    <%= link_to task.title, task_path(task), class: "task-title" %>
    <%= link_to task_path(task), class: "link", method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class='far fa-trash-alt'></i>
    <% end %>
  </li>
</ul>
<% end %>

<%= link_to "Add a new task", new_path, class: "link" %>


</div>






